<ul class="nav-menu">
    <li><a href="/homepage">Step one</a></li>
    <li><a href="/basic">Step two</a></li>
</ul>

<div ng-controller="HomepageCtrl" class="home-ctrl">

<div class="container">
    <div class="model-examples">
        <h3>Function Examples</h3>
        <div id="examples">

        </div>
    </div>
    <div class="tree-container">
        <h2> Step one exemple</h2>
        <div class="call-function">
            <textarea ng-model="myTextarea"></textarea>
        </div>

        <div id="jstree" class="tree center-tree">

        </div>


    </div>
   
</div>


</div>